<include file="Public:header" />

<body>
	<!-- BEGIN SECTION -->
	<section id="container" class="">

		<include file="Public:top" />

		<!-- END SIDEBAR -->

		<!-- BEGIN MAIN CONTENT -->
		<section id="main-content">
			<section class="wrapper">
				<section class="panel panel-first">
					<div class="">
						<div class="panel with-nav-tabs panel-info panel-square panel-no-border">
							<div class="panel-body body-waiwei">
								<ul>
									<li class="first-font">
										职位列表
									</li>
									<div class="opinion-hr">
										<hr />
									</div>
									<li>
										<div class="panel-body body-waiwei">
											<ul>
												<li>
													<div class="content-nature">
														<div class="job-zd">
															<span>选择分站:</span>
														</div>
														<div data-toggle="buttons" class="btn-group job-jzz">
															<label class="btn active btn-default checkbox-label" for="checkbox-bx">
                                                            <input type="checkbox" name="classify" value="不限" id="checkbox-bx">不限
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="上海" class="checkbox-a1">上海
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="深圳" class="checkbox-a1">深圳
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="广州" class="checkbox-a1">广州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="福建" class="checkbox-a1">福建
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="香港" class="checkbox-a1">香港
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="太原" class="checkbox-a1">太原
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="西安" class="checkbox-a1">西安
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="厦门" class="checkbox-a1">厦门
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="广东" class="checkbox-a1">广东
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="大同" class="checkbox-a1">大同
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="运城" class="checkbox-a1">运城
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="重庆" class="checkbox-a1">重庆
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="温州" class="checkbox-a1">温州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="青岛" class="checkbox-a1">青岛
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="福州" class="checkbox-a1">福州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="郑州" class="checkbox-a1">郑州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="郑州" class="checkbox-a1">郑州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="郑州" class="checkbox-a1">郑州
                                                        </label>
															<label class="btn btn-default label-a1">
                                                            <input type="checkbox" name="classify" value="郑州" class="checkbox-a1">郑州
                                                        </label>
														</div>
													</div>
												</li>
												<hr class="opinion-hr" />
												<li>
													<span class="pull-left job-span">有效状态:</span>
													<div data-toggle="buttons" class="btn-group content-jz">
														<label class="btn active btn-default">
                                                        <input type="radio" name="classify" value="不限" >不限
                                                    </label>
														<label class="btn btn-default">
                                                        <input type="radio" name="classify" value="有效职位">有效职位<span>(30)</span>
                                                    </label>
														<label class="btn btn-default">
                                                        <input type="radio" name="classify" value="无效职位">无效职位<span>(71)</span>
                                                    </label>

													</div>
												</li>
												<hr class="opinion-hr" />
												<li>
													<span class="pull-left job-span">审核状态:</span>
													<div data-toggle="buttons" class="btn-group content-jz">
														<label class="btn active btn-default">
                                                        <input type="radio" name="classify" value="不限" >不限
                                                    </label>
														<label class="btn btn-default">
                                                        <input type="radio" name="classify" value="审核通过">审核通过<span>(71)</span>
                                                    </label>
														<label class="btn btn-default">
                                                        <input type="radio" name="classify" value="等待审核">等待审核<span>(3)</span>
                                                    </label>
														<label class="btn btn-default">
                                                        <input type="radio" name="classify" value="审核未通过">审核未通过<span>(0)</span>
                                                    </label>

													</div>
												</li>

											</ul>
										</div>

									</li>
								</ul>

								<table class="f-tab table-hover table-condensed table-striped table-bordered table dataTable">

									<thead>
										<tr role="row">
											<th>&nbsp;</th>
											<th>职位名称</th>
											<th>发布公司</th>
											<th>审核状态</th>
											<th>添加时间</th>
											<th>到期时间</th>
											<th>刷新时间</th>
											<th>点击量</th>
											<th>收到简历</th>
											<th>修改</th>
										</tr>

									</thead>

									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<!-- 新起一行 -->
										<volist name="data" id="job">
											<tr>
												<td>
													<div class="checkbox checkbox-info checkbox-inline checkbox-single">
														<input id="{$job['id']}" type="checkbox">
														<label for="{$job['id']}"></label>
													</div>
												</td>
												<td>
													<a href="#" class="text-blue">{$job['job_name']}</a>
												</td>
												<td>{$job['company_name']}</td>
												<td>已通过</td>
												<td>{$job['refurbish_time']|date="Y-m-d H:i:s",###}</td>
												<td>
													2016/09/18 11:21:05
												</td>
												<td>
													{$job['update_time']|date="m-d H:i:s",###}
												</td>
												<td>
													745
												</td>
												<td>
													<a href="" class="text-primary">(80/120)</a>
												</td>
												<td>
													<a href="{:U('Position/job_update',array('id'=>$job['id']))}" class="text-primary">修改</a>
												</td>
											</tr>
										</volist>
									</tbody>
								</table>
								<div class="pull-left bottom-btn-group">
									<div class="checkbox checkbox-info checkbox-inline">
										<input id="checkbox_qx" name="full-select" type="checkbox">
										<label for="checkbox_qx">全选</label>
									</div>
									<button type="button" class="btn">
                                    通过
                                </button>
									<div class="btn-group">
										<button type="button" class="btn">
                                        拒绝
                                    </button>
										<div class="btn-group ">

											<select class="btn  dropdown-toogle enterprise-jujue">
												<option selected="selected" value="0">请输入拒绝理由</option>
												<option value="1">你长得太丑</option>
												<option value="2">实力太差</option>
												<option value="3">简历不完整</option>
												<option value="4">sadasds</option>
											</select>
										</div>
									</div>

								</div>
								<ul class="pagination success pull-right" name="data">
									{$page}
								</ul>
							</div>
							</li>
							</ul>
						</div>
					</div>
					</div>
				</section>
			</section>
		</section>
	</section>

	<include file="Public:footer" />