<include file="Public:header"/>
<body>
<!-- 开始-->
<section id="container">
<include file="Public:top"/>
    <!--结束-->
    <!---正文-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="lifirst">
                                    企业设置
                                </li>
                                <div class="first-hr">
                                    <hr />
                                </div>
                                <form method="post" action="" class="form-horizontal">
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>未认证企业发布量:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                        </div>
                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>认证企业发布量:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                        </div>

                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>允许会员发布简历:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>份</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>会员取消报名限制时间:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>天</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>每天允许申请职位:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>个</span>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>简历照片大小不能超过:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>KB</span>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>简历列表数最大为:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>条&nbsp;(0为不限制)</span>

                                            </div>
                                        </div>

                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>刷新简历时间间隔:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>分钟&nbsp;(0为不限制)</span>
                                            </div>
                                        </div>


                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>每天刷新简历次数限制:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>次&nbsp;(0为不限制)</span>
                                            </div>
                                        </div>


                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>简历姓名默认显示方式:</span>
                                            </div>
                                            <div class="personal-radio">
                                                <input type="radio" name="personal" value="0" checked="checked">真实姓名
                                                <input type="radio" name="personal" value="1">简历编号
                                                <input type="radio" name="personal" value="2">姓氏
                                            </div>
                                        </div>
                                    </li>
                                    <div class="personal-bc">
                                        <button type="submit" class=" btn  personal-btn">保存</button>
                                    </div>
                                </form>
                            </ul>

                        </div>

                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<!-- 结束 -->
<include file="Public:footer" />

