<include file="Public:header"/>
<body>
<!-- 开始-->
<section id="container">
<include file="Public:top"/>
    <!---正文-->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="lifirst">
                                    注册设置
                                </li>
                                <div class="first-hr">
                                    <hr />
                                </div>
                                <form method="post" action="" class="form-horizontal">
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>手机注册用户名前缀:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                        </div>
                                    </li>

                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>邮箱注册用户名前缀:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                        </div>

                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>手机注册生成用户名:</span>
                                            </div>
                                            <div class="personal-radio">
                                                <input type="radio" name="mobile" value="0" checked="checked">&nbsp;手机号
                                                <input type="radio" name="mobile" value="1">&nbsp;前缀+手机号
                                                <input type="radio" name="mobile" value="2">&nbsp;前缀+随机字符
                                            </div>
                                        </div>
                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>邮箱注册生成用户名:</span>
                                            </div>
                                            <div class="personal-radio">
                                                <input type="radio" name="email" value="0" checked="checked">&nbsp;手机号
                                                <input type="radio" name="email" value="1">&nbsp;前缀+手机号
                                                <input type="radio" name="email" value="2">&nbsp;前缀+随机字符
                                            </div>
                                        </div>
                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>第三方注册生成用户名:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                            <div class="personal-right">
                                                <span>加随机字符</span>
                                            </div>
                                        </div>


                                    </li>
                                    <li class="personal-li">
                                        <div class="personal-settings">
                                            <div class="personal-left">
                                                <span>微信注册生成密码:</span>
                                            </div>
                                            <div class="personal-radio">
                                                <input type="radio" name="weixin" value="0"  class="yincang" id="radio1" checked="checked" >&nbsp;与用户名相同
                                                <input type="radio" name="weixin" value="1" class="yincang" id="radio3">&nbsp;随机密码
                                                <input type="radio" name="weixin" value="2" class="xianshi" id="radio2">&nbsp;指定密码
                                            </div>
                                        </div>
                                    </li>
                                    <li class="personal-li beiyincang" >
                                        <div class="personal-settings" >
                                            <div class="personal-left">
                                                <span>输入指定密码:</span>
                                            </div>
                                            <div class="personal-content">
                                                <input type="text" name="" class="form-control">
                                            </div>
                                        </div>
                                    </li>
                                    <div class="personal-bc">
                                        <button type="submit" class=" btn  personal-btn">保存</button>
                                    </div>
                                </form>
                            </ul>

                        </div>

                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<include file="Public:footer"/>


