<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">

<include file="Public:top"/>

    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    内容管理
                                    <div class="pull-right">
                                        <input class="form-control  content-search" placeholder="请输入搜索的文章标题" type="text">
                                    </div>

                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                                <li>
                                    <div class="panel-body body-waiwei">
                                        <ul>
                                            <li >
                                                <div class="content-nature">

                                                    <span>文章分类</span>

                                                    <div data-toggle="buttons" class="btn-group content-jz">
                                                        <label class="btn active btn-default" >
                                                            <input type="radio" name="classify" value="0" >不限
                                                        </label>
                                                        <label class="btn btn-default" >
                                                            <input type="radio" name="classify" value="1">咨询中心
                                                        </label>
                                                        <label class="btn btn-default" >
                                                            <input type="radio" name="classify" value="2">热门职业
                                                        </label>
                                                        <label class="btn btn-default" >
                                                            <input type="radio" name="classify" value="3">活动
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr class="opinion-hr"/>
                                            <li>
                                                <span>添加时间</span>
                                                <div data-toggle="buttons" class="btn-group content-jz">
                                                    <label class="btn active btn-default" >
                                                        <input type="radio" name="classify" value="不限" >不限
                                                    </label>
                                                    <label class="btn btn-default" >
                                                        <input type="radio" name="classify" value="0">三天内
                                                    </label>
                                                    <label class="btn btn-default" >
                                                        <input type="radio" name="classify" value="1">一周内
                                                    </label>
                                                    <label class="btn btn-default" >
                                                        <input type="radio" name="classify" value="2">一月内
                                                    </label>
                                                    <label class="btn btn-default" >
                                                        <input type="radio" name="classify" value="3">半年内
                                                    </label>
                                                    <label class="btn btn-default" >
                                                        <input type="radio" name="classify" value="4">一年内
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>

                            <table class="f-tab table-hover table-condensed table-striped table-bordered table dataTable"  >

                                <thead>
                                <tr role="row">
                                    <th>&nbsp;</th>
                                    <th>文章标题</th>
                                    <th>添加方式</th>
                                    <th>排序</th>
                                    <th>点击</th>
                                    <th>添加日期</th>
                                    <th>操作</th>
                                </tr>


                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e1" type="checkbox">
                                            <label for="checkbox_e1"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>
                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e2" type="checkbox">
                                            <label for="checkbox_e2"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e3" type="checkbox">
                                            <label for="checkbox_e3"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e4" type="checkbox">
                                            <label for="checkbox_e4"></label>
                                        </div>
                                    </td>
                                    <td><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e5" type="checkbox">
                                            <label for="checkbox_e5"></label>
                                        </div>
                                    </td>
                                    <td><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e6" type="checkbox">
                                            <label for="checkbox_e6"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e7" type="checkbox">
                                            <label for="checkbox_e7"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e8" type="checkbox">
                                            <label for="checkbox_e8"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="checkbox_e9" type="checkbox">
                                            <label for="checkbox_e9"></label>
                                        </div>
                                    </td>
                                    <td ><a href="#" class="text-blue">[直招]京东到家推广员&nbsp;<span class="text-warning ">(图)</span></a></td>
                                    <td>人工</td>
                                    <td>0</td>
                                    <td>22</td>
                                    <td>
                                        2016/11/07 18:53:53
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">修改</a>&nbsp;|&nbsp;
                                        <a href="" class="text-primary">删除</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pull-left bottom-btn-group">
                                <div class="checkbox checkbox-info checkbox-inline">
                                    <input id="checkbox_qx" name="full-select" type="checkbox">
                                    <label for="checkbox_qx">全选</label>
                                </div>

                                <button type="button" class="btn">
                                    删除
                                </button>


                            </div>
                            <ul class="pagination success pull-right ">
                                <li class="disabled">
                                    <a href="#fakelink">
                                        首页
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="#fakelink">
                                        上一页
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#fakelink">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        2
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        3
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        4
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        下一页
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        尾页
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </li>
                        </ul>
                    </div>

                </div>
                </div>
            </section>
        </section>
    </section>
</section>

<include file="Public:footer"/>


