@charset "utf-8";
*{ padding:0; margin:0;}
body { margin: 0; font-family: 'microsoft yahei','Hiragino Sans GB',arial,sans-serif; line-height: 1.5; color: #666; background-color: #fff; letter-spacing: 1px; }
a {color: #666;text-decoration: none;}
a:hover, a:focus {color: #ff9400; text-decoration: underline;}
img{display:block;border:none;vertical-align: top;}
li{ list-style:none;}
.clearfix:after{ display:block; clear:both; content:'';}
.clearfix{zoom:1;}
.a img{border:none;}
.fl{float:left;}
.fr{float:right;}
table{border-collapse:collapse;}
td,th{border:1px solid red; padding:0;}
i{font-style: inherit;}