<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">

<include file="Public:top"/>

    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    银行卡查询
                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                            </ul>

                            <table class=" table-hover table-condensed table-striped table-bordered table dataTable"  id="test">

                                <thead>
                                <tr role="row">
                                    <th>手机号</th>
                                    <th>姓名</th>
                                    <th>银行类型</th>
                                    <th>银行卡号</th>
                                    <th>提示</th>
                                    <th>操作</th>
                                </tr>


                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input  type="text" class="form-control bank-input" value="13815354102">
                                    </td>
                                    <td>张三</td>
                                    <td>工商银行</td>
                                    <td>6227123487650623</td>
                                    <td>
                                        账号正确
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">加载</a>
                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" value="13815354102">
                                    </td>
                                    <td>张三</td>
                                    <td>工商银行</td>
                                    <td>6227123487650623</td>
                                    <td class="text-danger">
                                        账号正确
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">加载</a>
                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" value="13815354102">
                                    </td>
                                    <td>张三</td>
                                    <td>工商银行</td>
                                    <td>6227123487650623</td>
                                    <td class="text-danger">
                                        账号正确
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">加载</a>
                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" value="13815354102">
                                    </td>
                                    <td>张三</td>
                                    <td>工商银行</td>
                                    <td>6227123487650623</td>
                                    <td class="text-danger">
                                        账号正确
                                    </td>
                                    <td>
                                        <a href="" class="text-primary">加载</a>
                                    </td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" placeholder="请输入手机号">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" placeholder="请输入手机号">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td >
                                        <input type="text" class="form-control bank-input" placeholder="请输入手机号">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pull-left bottom-btn-group">
                                <div class="btn-group">
                                    <input type="button" class="btn" id="btn1" value="增加">

                                    </input>
                                    <div class="btn-group " >
                                        <select class="btn  dropdown-toogle enterprise-jujue"  id="se" >
                                            <option selected="selected" value="0">1</option>
                                            <option value="1">5</option>
                                            <option value="2">10</option>
                                            <option value="3">15</option>
                                            <option value="4">20</option>
                                            <option value="5">25</option>
                                            <option value="6">30</option>
                                        </select>

                                    </div>
                                </div>

                                <button type="button" class="btn">
                                    导入卡号信息
                                </button>
                                <button type="button" class="btn" >
                                    导出卡号信息
                                </button>
                            </div>
                        </div>
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
            </section>
        </section>
    </section>
</section>
<include file="Public:footer"/>
