<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">

<include file="Public:top"/>
    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    推广查询
                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                                <li>
                                    <div class="panel-body">
                                        <form method="post" action="" class="form-horizontal">
                                            <input type="text" class="form-control generalize-input" placeholder="输入手机号">
                                            <div class="generalize-send">
                                                <button type="submit" class=" btn  alter-btn">点击查询</button>
                                            </div>
                                            <table class=" table-hover table-condensed table-striped table-bordered table dataTable"  >

                                                <thead>
                                                <tr role="row">
                                                    <th width="20%">姓名</th>
                                                    <th width="20%">电话</th>
                                                    <th width="20%">上岗次数</th>
                                                    <th width="40%">统计结果</th>
                                                </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <!-- 新起一行 -->
                                                <tr>
                                                    <td ><a href="#" class="text-blue">张三</a></td>
                                                    <td>13815354102</td>
                                                    <td>62次</td>
                                                    <td>共推广成功一级下线<span style="text-decoration:underline;">32</span>名，其中<span style="text-decoration:underline;">28</span>名又上岗纪录</td>
                                                </tr>
                                                <!-- 新起一行 -->
                                                <tr>
                                                    <td ><a href="#" class="text-blue">张三</a></td>
                                                    <td>13815354102</td>
                                                    <td>62次</td>
                                                    <td>共推广成功一级下线<span style="text-decoration:underline;">32</span>名，其中<span style="text-decoration:underline;">28</span>名又上岗纪录</td>
                                                </tr>
                                                <!-- 新起一行 -->
                                                <tr>
                                                    <td ><a href="#" class="text-blue">张三</a></td>
                                                    <td>13815354102</td>
                                                    <td>62次</td>
                                                    <td>共推广成功一级下线<span style="text-decoration:underline;">32</span>名，其中<span style="text-decoration:underline;">28</span>名又上岗纪录</td>
                                                </tr>
                                                <!-- 新起一行 -->
                                                <tr>
                                                    <td ><a href="#" class="text-blue">张三</a></td>
                                                    <td>13815354102</td>
                                                    <td>62次</td>
                                                    <td>共推广成功一级下线<span style="text-decoration:underline;">32</span>名，其中<span style="text-decoration:underline;">28</span>名又上岗纪录</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <ul class="pagination success pull-right ">
                                                <li class="disabled">
                                                    <a href="#fakelink">
                                                        首页
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#fakelink">
                                                        上一页
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="#fakelink">
                                                        1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        3
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        4
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        下一页
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        尾页
                                                    </a>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<include file="Public:footer"/>

