<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">
<include file="Public:top"/>
    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    获奖名单
                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                                <li>
                                    <div class="panel-body">
                                        <form method="post" action="" class="form-horizontal">
                                            <div class="hjmd">
                                           <span>抽奖时间:2016-12-14 8:00</span>
                                            <div class="hjmd-send">
                                                <select class="form-control f-input-sm">
                                                    <option value="" selected="selected">12月13日</option>
                                                    <option value="">12月14日</option>
                                                    <option value="">12月15日</option>
                                                    <option value="">12月16日</option>
                                                </select>
                                            </div>
                                            </div>
                                            <table class="f-tab table-hover table-condensed table-striped table-bordered table dataTable"  >

                                                <thead>
                                                <tr role="row">
                                                    <th>&nbsp;</th>
                                                    <th>任务名称</th>
                                                    <th>开启时间</th>
                                                    <th>奖品最大总额</th>
                                                    <th>已抽资金</th>
                                                    <th>已抽佣金</th>
                                                    <th>奖品数量</th>
                                                    <th>当前状态</th>
                                                    <th>参与人数</th>
                                                </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr>
                                                    <td>

                                                    </td>
                                                    <td ><a href="#" class="text-blue">双12红包</a></td>
                                                    <td>8:00</td>
                                                    <td>100元</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>80</td>
                                                    <td>
                                                        未开启
                                                    </td>
                                                    <td>56</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <table class="f-tab table-hover table-condensed table-striped table-bordered table dataTable"  >

                                                <thead>
                                                <tr role="row">
                                                    <th>&nbsp;</th>
                                                    <th>昵称</th>
                                                    <th>电话</th>
                                                    <th>OPENID</th>
                                                    <th>金额</th>
                                                    <th>佣金</th>
                                                    <th>结算状态</th>
                                                    <th>抽奖时间</th>
                                                    <th>操作区</th>
                                                </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr>
                                                    <td>
                                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                                            <input id="checkbox_a8" type="checkbox">
                                                            <label for="checkbox_a8"></label>
                                                        </div>
                                                    </td>
                                                    <td ><a href="#" class="text-blue">张三</a></td>
                                                    <td>12345678911</td>
                                                    <td>ASDF234</td>
                                                    <td>0.2</td>
                                                    <td>0.1</td>
                                                    <td>已结算</td>
                                                    <td>2016-12-14 8:01</td>
                                                    <td>
                                                        <a href="" class="text-primary">重新发放</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                                            <input id="checkbox_a9" type="checkbox">
                                                            <label for="checkbox_a9"></label>
                                                        </div>
                                                    </td>
                                                    <td ><a href="#" class="text-blue">张二</a></td>
                                                    <td>12345678910</td>
                                                    <td>ASDF234</td>
                                                    <td>0.2</td>
                                                    <td>0</td>
                                                    <td>未结算</td>
                                                    <td>2016-12-14 8:01</td>
                                                    <td>
                                                        <a href="" class="text-primary">重新发放</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="pull-left bottom-btn-group">
                                                <div class="checkbox checkbox-info checkbox-inline">
                                                    <input id="checkbox_qx" name="full-select" type="checkbox">
                                                    <label for="checkbox_qx">全选</label>
                                                </div>
                                            </div>
                                            <ul class="pagination success pull-right ">
                                                <li class="disabled">
                                                    <a href="#fakelink">
                                                        首页
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#fakelink">
                                                        上一页
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="#fakelink">
                                                        1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        3
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        4
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        下一页
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fakelink">
                                                        尾页
                                                    </a>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </section>
    </section>
</section>

<include file="Public:footer"/>


