<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">

 <include file="Public:top"/>

    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    BD列表
                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                            </ul>

                            <table class="f-tab table-hover table-condensed table-striped table-bordered table" id="hidden-table-info">
                                <thead>
                                <tr role="row">
                                    <th>&nbsp;</th>
                                    <th>
                                        <select class="form-control f-input-sm">
                                            <option value="" selected="selected">全部BD</option>
                                            <option value="">管理权限</option>
                                            <option value="">查看权限</option>
                                            <option value="">无权限</option>
                                        </select>
                                    </th>
                                    <th>性别</th>
                                    <th>权限</th>
                                    <th>手机号</th>
                                    <th>登录情况</th>
                                    <th>管理记录</th>
                                </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox1" type="checkbox">
                                            <label for="inlineCheckbox1"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        最近登录：2016年11月12日 20：80
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox2" type="checkbox">
                                            <label for="inlineCheckbox2"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox3" type="checkbox">
                                            <label for="inlineCheckbox3"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td><span class="gray">查看</span></td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox4" type="checkbox">
                                            <label for="inlineCheckbox4"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>无</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox5" type="checkbox">
                                            <label for="inlineCheckbox5"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox6" type="checkbox">
                                            <label for="inlineCheckbox6"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td><span class="gray">查看</span></td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox7" type="checkbox">
                                            <label for="inlineCheckbox7"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox8" type="checkbox">
                                            <label for="inlineCheckbox8"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="inlineCheckbox9" type="checkbox">
                                            <label for="inlineCheckbox9"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>管理</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                </tbody>
                            </table>


                            <div class="pull-left bottom-btn-group">
                                <div class="checkbox checkbox-info checkbox-inline">
                                    <input id="checkbox_qx" name="full-select" type="checkbox">
                                    <label for="checkbox_qx">全选</label>
                                </div>
                                <button type="button" class="btn">
                                    赋予管理权限
                                </button>
                                <button type="button" class="btn">
                                    赋予查看权限
                                </button>
                                <button type="button" class="btn">
                                    取消所有权限
                                </button>
                                <button type="button" class="btn">
                                    删除
                                </button>
                            </div>




                            <ul class="pagination success pull-right ">
                                <li class="disabled">
                                    <a href="#fakelink">
                                        首页
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="#fakelink">
                                        上一页
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#fakelink">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        2
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        3
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        4
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        下一页
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        尾页
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
            </section>
        </section>
    </section>
</section>

<include  file="Public:footer"/>

