<include file="Public:header"/>
<body>
<!-- BEGIN SECTION -->
<section id="container" class="">

<include file="Public:top"/>

    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    兼职列表
                                </li>
                                <div class="opinion-hr">
                                    <hr />
                                </div>
                            </ul>

                            <table class="f-tab table-hover table-condensed table-striped table-bordered table dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                                <thead>
                                <tr role="row">
                                    <th>&nbsp;</th>
                                    <th>基本信息</th>
                                    <th>性别</th>
                                    <th>实名认证</th>
                                    <th>手机号</th>
                                    <th>平台信誉</th>
                                    <th>评价/工作记录</th>
                                </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox1" type="checkbox">
                                            <label for="talentCheckbox1"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox2" type="checkbox">
                                            <label for="talentCheckbox2"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox3" type="checkbox">
                                            <label for="talentCheckbox3"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox4" type="checkbox">
                                            <label for="talentCheckbox4"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox5" type="checkbox">
                                            <label for="talentCheckbox5"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox6" type="checkbox">
                                            <label for="talentCheckbox6"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox7" type="checkbox">
                                            <label for="talentCheckbox7"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox8" type="checkbox">
                                            <label for="talentCheckbox8"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                <!-- 新起一行 -->
                                <tr>
                                    <td>
                                        <!-- <input type="checkbox" name="" class="chk"> -->
                                        <div class="checkbox checkbox-info checkbox-inline checkbox-single">
                                            <input id="talentCheckbox9" type="checkbox">
                                            <label for="talentCheckbox9"></label>
                                        </div>
                                    </td>
                                    <td class="text-blue">肖允瀚</td>
                                    <td>男</td>
                                    <td>未认证</td>
                                    <td>15212234876</td>
                                    <td>
                                        上岗次数: 2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        放鸽子数:2022&nbsp;&nbsp;&nbsp;&nbsp;
                                        取消次数: 2202&nbsp;&nbsp;&nbsp;&nbsp;
                                        早退次数:2202
                                    </td>
                                    <td class="text-center"><i class="fa fa-plus-circle jiahao"></i></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="pull-left bottom-btn-group">
                                <div class="checkbox checkbox-info checkbox-inline">
                                    <input id="checkbox_qx" name="full-select" type="checkbox">
                                    <label for="checkbox_qx">全选</label>
                                </div>
                                <button type="button" class="btn">
                                    导出
                                </button>
                                <button type="button" class="btn">
                                    删除
                                </button>
                                <button type="button" class="btn">
                                    提升为督导
                                </button>
                                <button type="button" class="btn">
                                    加人黑名单
                                </button>
                            </div>

                            <ul class="pagination success pull-right ">
                                <li class="disabled">
                                    <a href="#fakelink">
                                        首页
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="#fakelink">
                                        上一页
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#fakelink">
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        2
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        3
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        4
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        下一页
                                    </a>
                                </li>
                                <li>
                                    <a href="#fakelink">
                                        尾页
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
            </section>
        </section>
    </section>
</section>

<include file="Public:footer"/>


